@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 45px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: #f8f8f8;
  }
}
